.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 32px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  height: auto;
}

.header__date {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__add-clothes-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  text-decoration: none;
}

.header__user-container {
  text-decoration: none;
  color: inherit;
}

.header__user-container:visited {
  text-decoration: none;
  color: inherit;
}

.header__auth-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__auth-btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
}

.header__auth-btn:hover {
  opacity: 0.6;
}

/* Special style for the Register (Sign Up) button */
.header__auth-btn_type_register {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 8px 16px;
}
