.register-modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.register-modal__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.register-modal__input {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.register-modal__submit {
  background-color: #0057ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}
